<div class="materials-section">
  <div class="materials-section__title">
   <h1 class="heading h1">{{ section.settings.materials_title }}</h1>
  </div>
  <div class="materials-section__materials">
    {% for block in section.blocks %}
      <div class="materials-section__material">
        <div class="materials-section__material-title">
           {{ block.settings.material_title }}
        </div>
        <div class="materials-section__material-description">
          {{ block.settings.description }} 
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{{ 'section-materials.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Materials",
  "settings": [
    {
      "id": "materials_title",
      "type": "text",
      "label": "Materials Title",
      "default": "Materials"
    }
  ],
  "blocks": [
    {
      "type": "material",
      "name": "Material",
      "settings": [
        {
          "id": "material_title",
          "type": "text",
          "label": "Material Title",
          "default": "Lycra"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Materials",
      "category": "Customs"
    }
  ]
}
{% endschema %}
