:root {
  --font-family-heading: "Gambarino-Regular";
  --font-family-cursive: "exmouth";
  --font-family-body: "EngraversGothicBT-Heavy";
  --font-family-secondary: "Inter Tight";
  --heading-size-xl: clamp(48px, 4vw, 120px);
  --heading-size-lg: clamp(40px, 4vw, 71px);
  --heading-size-cursive: clamp(72px, 4vw, 132px);
}
.heading {
  font-family: var(--font-family-heading);
}
.heading-xl {
  font-size: var(--heading-size-xl);
}
.heading-lg {
  font-size: var(--heading-size-lg);
}
.font-heading {
  font-family: var(--font-family-heading);
}
.font-cursive {
  font-family: var(--font-family-cursive);
}
.font-body {
  font-family: var(--font-family-body);
}
.font-secondary {
  font-family: var(--font-family-secondary);
}

h4.blog__heading.text-left {
  color: #660f28;
  font-family: "EngraversGothicBT-Heavy";
  font-size: clamp(36px, 4vw, 100px);
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
  letter-spacing: -2px;
}
.blog__tags-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
a.blog__tag {
  border: 2px solid #660f28;
  color: #660f28;
}
a.blog__tag.blog__tag--active {
  background-color: #660f28;
  color: #fff;
}
a.blog__tag.blog__tag--active:hover {
  background-color: #660f28;
  color: #fff;
}
.article__item-content > *,
.article__item-content p {
  color: #102345;
}
.article__item {
  display: flex;
  gap: 52px;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

.article__item-image {
  width: calc(40% - 26px);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.article__item-content {
  width: calc(60% - 26px);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.article__item-author {
  display: none;
}

h3.article__item-title {
  color: #102345;
  font-family: "Gambarino-Regular";
  font-size: clamp(36px, 4vw, 100px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.28px;
  margin-bottom: 28px;
}
.article__item-content p {
  color: #102345;
  font-family: "EngraversGothicBT-Heavy";
  font-size: 20px;
  font-style: normal;
  line-height: 80%;
  padding-bottom: 40px;
}
.read-more-btn {
  padding: 20px 24px;
  border: 2px solid #102345;
}

.blog__article__content p {
  color: var(--text);
}
a.standard__cta.hero__btn.btn.btn--primary.btn--long {
  border: 2px solid #e6dbc4;
}
