:root {
  --font-family-heading: "Gambarino";
  --font-family-cursive: "Gambarino";
  --font-family-accent: "Fakt";
  --font-family-secondary: "Inter Tight";
  --font-family-exmouth: "exmouth";
  --heading-size-xl: clamp(40px, 4vw, 120px);
  --heading-size-lg: clamp(40px, 4vw, 71px);
  --heading-size-md: clamp(26px, 4vw, 32px);
  --heading-size-cursive: clamp(72px, 4vw, 132px);
}

.heading {
  font-family: var(--font-family-heading) !important;
  margin-bottom: 14px;
  letter-spacing: normal;
  text-transform: none;
}
.heading-base {
  font-size: var(--heading-size-md);
}
.heading-xl {
  font-size: var(--heading-size-xl);
}
.heading-lg {
  font-size: var(--heading-size-lg);
}
.font-heading {
  font-family: var(--font-family-heading);
}
.font-cursive {
  font-family: var(--font-family-cursive) !important;
  letter-spacing: 1px;
  font-weight: 100;
  text-transform: none;
}
.font-accent {
  font-family: var(--font-family-accent) !important;
}
.font-secondary {
  font-family: var(--font-family-secondary);
}
.text-secondary {
  font-family: var(--font-family-secondary) !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}
.heading-cursive {
  font-family: var(--font-family-cursive) !important;
  /* font-size: clamp(40px, 10vw, 100px); */
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: none;
  margin-bottom: 14px;
}
.subheading {
  font-size: 20px;
  letter-spacing: 1px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}
.font-body,
.font-subheading {
  font-family: var(--font-family-accent) !important;
}
.footer__column p {
  color: var(--text-dark);
}
.text-body {
  font-size: 18px;
}
.font-base {
  font-family: var(--font-family-secondary);
}
.text-base {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.mobile-view {
  display: none;
}
.desktop-view {
  display: block;
}
@media screen and (max-width: 768px) {
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
}

h4.blog__heading.text-left {
  font-size: clamp(36px, 4vw, 100px);
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
  letter-spacing: -2px;
}
.blog__tags-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
a.blog__tag {
  border: 1px solid #000;
  color: #000;
}
a.blog__tag.blog__tag--active {
  background-color: #000;
  color: #fff;
}
a.blog__tag.blog__tag--active:hover {
  background-color: #000;
  color: #fff;
}
.article__item-content > *,
.article__item-content p {
  color: #102345;
}
.article__item {
  display: flex;
  gap: 52px;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

.article__item-image {
  width: calc(40% - 26px);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.article__item-content {
  width: calc(60% - 26px);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.article__item-author {
  display: none;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

h3.article__item-title {
  color: #000000;
  font-family: "Gambarino";
  font-size: clamp(36px, 4vw, 100px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.28px;
  margin-bottom: 28px;
}
.article__item-content p {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  line-height: 80%;
  padding-bottom: 40px;
}
.read-more-btn {
  padding: 20px 24px;
  border: 1px solid #000000;
}

.blog__article__content p {
  color: var(--text);
}

/* image with text section custom */

.image-with-text-section__blocks {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
.block-image-pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.block-image-pair img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
p.image-with-text-block-text {
  color: #660f28;
  font-family: var(--FONT-STACK-BODY);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  @media only screen and (max-width: 768px) {
    font-size: 20px;
    padding: 0 !important;
  }
}

.image-overlay--slider {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #000 100%
  ) !important;
}

.quickview .icon-theme-stroke {
  stroke: currentColor;
}

span.header__cart__status {
  position: relative;
}
a.navlink.navlink--cart {
  overflow: visible;
}
span[data-header-cart-count] {
  position: absolute;
  bottom: 0;
  left: 4px;
  color: currentcolor;
}
[data-header-cart-count="0"] {
  display: none;
}
.drawer__content #cart-form {
  padding-inline: var(--gutter);
  padding-block-end: var(--gutter);
}



more-payment-options-link {
  display: none;
}
shopify-payment-terms {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .collection-split__block {
    aspect-ratio: 2/3;
  }
}

.collection-sort span.medium-up--hide {
  font-weight: 600 !important;
  color: #000000 !important;
  font-family: var(--font-family-body) !important;
}

/* carousel slider */
@media screen and (min-width: 1024px) {
  .section-collection-slider-carousel {
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
}

.section-collection-slider-carousel .flickity-viewport {
  overflow: visible;
}
.section-carousel__header-container {
  width: calc(var(--desktop-width) + var(--outer));
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .section-carousel__header-container {
    width: var(--mobile-width);
    margin-left: 0;
  }
  .section-carousel__header-content {
    position: relative;
  }
}
.section-carousel__header-content {
  display: flex;
  margin-bottom: var(--padding-bottom);
  background: hsla(0, 0%, 100%, 0.8);
  margin-left: -5%;
  padding-inline: 5%;
}
.section-collection-slider-carousel button.flickity-button {
  bottom: 50% !important;
  z-index: 5 !important;
  border: 1px solid #e5e5e5;
}

.collection-split__grid .swiper {
  margin: 0;
  width: 100%;
}

.collection-split-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-collection-split-button-container {
  display: flex;
  justify-content: flex-end;
  gap: var(--gutter);
  align-items: center;
}
.section-collection-split-button-container a {
  margin-bottom: 0 !important;
}
a.header__mobile__button.wishlist-icon {
  position: relative;
}


.text-uppercase {
  text-transform: uppercase;
}

.max-w-400 {
  max-width: 400px;
}
button.collection__filters__toggle.drawer--visible {
  background: #000;
  color: #fff;
  transition: all 0.3s ease;
}

.product__badges-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
  align-items: flex-end;
}

.product__badges-container div {
  background: var(--COLOR-BADGE);
  padding: 2px 5px;
}

/* footer custom styles */
.footer__newsletter__image {
  display: flex;
  justify-content: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.subfooter__item.subfooter__item--copyright {
  justify-content: flex-end;
}
.footer-payment-copyrights-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 20px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .subfooter__item.subfooter__item--selects {
    justify-content: flex-end;
    margin-top: 20px;
  }
}
s.product__price--compare {
    margin-left: 10px;
    font-size: 16px;
}

.section-slideshow[data-block-length="1"] .flickity-page-dots {
  display: none;
}

/* accessibility widhget custom styles */
#acp-widget,
.asw-menu,
.acp-header,
.acp-profile-button{
  border-radius: 4px !important;
}
.app-block-container{
  margin-top: 30px;
}
.section-related .product__block__title {
  left: 0 !important;
}

button.flickity-button.flickity-prev-next-button.next {
  right: 0;
}
.product-grid-item__container .smartwishlist {
  font-size: 18px !important;
  position: absolute;
  z-index: 10 !important;
  right: calc(var(--inner) / 2);
  top: calc(var(--inner) / 2);
  max-width: calc(100% - var(--inner));
  padding: 5px 10px;
  background: var(--COLOR-BADGE);
  color: var(--COLOR-BADGE-TEXT);
  z-index: 400;
  transition: opacity .5s cubic-bezier(.215,.61,.355,1);
}
