


@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/inter/inter_n5.4e013095af5df852d965c6d0d5c22626d12ca9b1.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=a87d0a4476ffc473955afdf0bba1468fe851dbf03d13a5ba142ea3aa54b2e136") format("woff2"),
       url("//galtsand.com/cdn/fonts/inter/inter_n5.a68b7118da8e36cefdfa5a16eb3ccd7b79151b88.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=31413f23854b2d7e7bd0b3e8b28fb7f92dd4566639d81a721c946cf185bc4911") format("woff");
}

@font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n4.73cf0589f7839ec88463a09f5335a2885467ed0c.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=a5a5f9aa76d4d4f541dae7cd87e40c5fc276f75aa7807714f17b50a0e1929861") format("woff2"),
       url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n4.1c5276ef69780b63aa8f0ba7897fb3bc87270bb0.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=71655cd23e085259b8abde69a50ac1350e146ecd9adc04cfe9d460069c69449d") format("woff");
}

@font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n4.73cf0589f7839ec88463a09f5335a2885467ed0c.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=a5a5f9aa76d4d4f541dae7cd87e40c5fc276f75aa7807714f17b50a0e1929861") format("woff2"),
       url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n4.1c5276ef69780b63aa8f0ba7897fb3bc87270bb0.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=71655cd23e085259b8abde69a50ac1350e146ecd9adc04cfe9d460069c69449d") format("woff");
}



  @font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/inter/inter_n6.f376a8167febc541e642518027b9ec9b9121420c.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=b09ad7136b143cd841c49bf1eaf0707c7bf358828f36a30f12c54d9c0a2d1b24") format("woff2"),
       url("//galtsand.com/cdn/fonts/inter/inter_n6.e443e28dc0f8869f8e2f4fa978e895a4a075406f.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=3983b8358dba737f2f92e539ed93c60dfbfd87826f229a714aa63b3781a0066a") format("woff");
}




  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n6.dd3d6084d29e4754e80fe6aa1c0e37f511474ffa.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=f7bdb3f9ef5f2735ac958834f511917c916d8585f77416fd431730d6f5998bc1") format("woff2"),
       url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n6.b0d6879084373b473d0c7a4c3d54ece9c289cbb4.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=e1209b8cdad9592a806410a252f189fce8097d9cbcf062f5299a281427d34fce") format("woff");
}




  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n6.dd3d6084d29e4754e80fe6aa1c0e37f511474ffa.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=f7bdb3f9ef5f2735ac958834f511917c916d8585f77416fd431730d6f5998bc1") format("woff2"),
       url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_n6.b0d6879084373b473d0c7a4c3d54ece9c289cbb4.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=e1209b8cdad9592a806410a252f189fce8097d9cbcf062f5299a281427d34fce") format("woff");
}







  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_i4.ccbfea79fd847e76d49925a923aa89064359e629.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=7132b4b07edf44bb2d71f466e4cafff3f75cac009e84b3a78794f205c9177de5") format("woff2"),
       url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_i4.e5c05a10aacfb8cc7fdf892df8dba937a214e6e7.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=6495f8fa40b93b8cf6bfe40bf0d9435b6ad42d9f028872d60f4ab507c7333db4") format("woff");
}



  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_i6.d520474355816f56169b3a79baa14d2c479da2ba.woff2?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=3933eda9ec0674a3307ccd2db5e6b41ce18bd0830b894aa1f9dee0e9f13bec93") format("woff2"),
       url("//galtsand.com/cdn/fonts/harmonia_sans/harmoniasans_i6.5ea0fa072a0601a91bbd7e0301549f9159a09ada.woff?h1=Z2FsdHNhbmQuY29t&h2=Z2FsdHNhbmQuYWNjb3VudC5teXNob3BpZnkuY29t&h3=Z2FsdHNhbmQudXM&hmac=2b4841efb0b79e228d556ec33ca3338adc88b2fb6188d658afd8e80f555f8f9f") format("woff");
}


