.materials-section {
  padding: 60px;
}

.materials-section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.materials-section-title{
  margin-bottom: 60px;
}
.materials-section__material {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.material-image-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}
.material-description {
  margin-top: 20px;
  font-family: var(--FONT-STACK-BODY);
  font-weight: 400;
  color: #4F555F;
  font-style: Normal;
  font-size: 20px;
  line-height: 140%;
}
.material-description ul li {
  list-style: disc;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
  .materials-section-grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 768px){
  .materials-section {
    padding: var(--outer);
  }
  .materials-section-grid{
    grid-template-columns: repeat(1, 1fr)
  }
}